{% extends 'default.html' %}

{% load news_filters %}!

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Заголовок</th>
      <th scope="col">Дата</th>
      <th scope="col">Тизер</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
      <tr>
        <td>
          <a href="/news/{{ post.id }}/">
            {{ post.title }}
          </a>
        </td>
        <td>
          <a href="/news/{{ post.id }}/">
            {{ post.created|date_formatter }}
          </a>
        </td>
        <td>
          <a href="/news/{{ post.id }}/">
            {{ post.body|truncatechars:20 }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

